*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: darkcyan;
}

.moti{
    color: seagreen;
}

.container{

   max-width: 80%;

   padding: 34px;
   margin: auto;

}
.hi{
    color: rgb(3, 54, 25);
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
.container h1,p{
    text-align: center;

}

.p{
    color: black;
    font-family:'Dancing Script', cursive;
}


input,textarea{
    width: 92%;
    margin: 19px auto;
    padding: 6px;
    font-size: 12px;
    border: 2px solid rgb(56, 3, 3);
    border-radius: 8px;
    outline: none;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{

  color: white;
  background-color: purple;
  padding: 15px 10px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 14px;
  cursor: pointer;
}

.motilal{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
}